Repository cafe-for-cats/mobile, pull requests merged in 2021-05, with the labels that each got.

#83 Resource Section Page
  .github/workflows/node.js.yml
  README.md
  mobile/src/app/app-routing.module.ts
  mobile/src/app/app.module.ts
  mobile/src/app/components/navbar/navbar.component.html
  mobile/src/app/components/navbar/navbar.component.scss
  mobile/src/app/components/resources/resources.component.html
  mobile/src/app/components/resources/resources.component.scss
  mobile/src/app/components/resources/resources.component.spec.ts
  mobile/src/app/components/resources/resources.component.ts
  mobile/src/global.scss
Labels: enhancement, mobile

#88 API Endpoint for Creating a Cafe ☕️
  api/package-lock.json
  api/package.json
  api/src/models/Protest.ts
  api/src/models/User.ts
  api/src/routes/authRoutes.ts
  api/src/routes/protestRoutes.ts
  api/src/server.ts
  mobile/src/app/components/resources/resources.component.html
  mobile/src/app/components/resources/resources.component.scss
  package-lock.json
Labels: api

#92 Adds `AddProtest` as a WS endpoint
  api/src/server.ts
  api/src/view/index.html
Labels: api

#94 Adds `GetEventsForUser`
  .travis.yml
  api/build/app.js
  api/build/config/database.js
  api/build/controllers/pinController.js
  api/build/middleware/auth.js
  api/build/models/pinModels.js
  api/build/models/pinsSchema.js
  api/build/routes/pinRoutes.js
  api/build/server.js
  api/build/tests/index.spec.js
  api/build/tests/pins.spec.js
  api/build/types/Payload.js
  api/build/types/Request.js
  api/package-lock.json
  api/package.json
  api/src/models/Protest.ts
  api/src/models/User.ts
  api/src/server.ts
  api/src/tests/index.spec.ts
  api/src/tests/pins.spec.ts
  api/src/view/index.html
Labels: api, enhancement

#95 Implement Global Theming For the Application
  mobile/ios/App/App/Info.plist
  mobile/package-lock.json
  mobile/package.json
  mobile/src/app/components/login/login.component.html
  mobile/src/app/components/login/login.component.ts
  mobile/src/app/components/resources/resources.component.html
  mobile/src/app/components/resources/resources.component.scss
  mobile/src/global.scss
  mobile/src/theme/variables.scss
Labels: enhancement 👌, technical wealth 🕰

#99 Move API to a proper arcitecture
  adr/001_protest_sharing_model.md
  api/package-lock.json
  api/package.json
  api/src/common/common.routes.config.ts
  api/src/common/common.sockets.config.ts
  api/src/common/core.sockets.config.ts
  api/src/middleware/database.ts
  api/src/models/Pin.ts
  api/src/protests/protests.models.ts
  api/src/protests/protests.service.ts
  api/src/protests/protests.sockets.config.ts
  api/src/protests/protests.statics.ts
  api/src/routes/authRoutes.ts
  api/src/routes/pinRoutes.ts
  api/src/routes/protestRoutes.ts
  api/src/server.ts
  api/src/users/users.models.ts
  api/src/users/users.routes.config.ts
  api/src/users/users.service.ts
  api/src/users/users.statics.ts
  api/src/view/index.html
Labels: api 💻, technical wealth 🕰

#105 Add mongosanitize
  api/src/server.ts
Labels: api 💻

#107 Implement Mocha in to server as testing framework
  .travis.yml
  api/package.json
  api/src/users/users.service.ts
  api/src/users/users.test.ts
Labels: api 💻, enhancement 👌
